@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}
@media print {
  #schedule-to-print {
    scale: 0.8;
  }
}
:root {
  --bg: #0055b8;
  --text: #efefee;
  --text2: #8fe5ff;
  --border: #5bc0de;
}
.steps-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #36363620;
}
.steps-container > div {
  display: grid;
  place-content: center;
  height: 100%;
}
.steps-container > * {
  position: relative;
  width: 100vw;
  z-index: 2;
}
.steps-container > div > img {
  width: min(800px,100vw);
  filter: drop-shadow(0px 0px 20px #00000050);
}
.steps-control {
  display: flex;
  justify-content: center;
  gap: 24px;
}
/* .steps-control > button {
  width: 100px;
} */
.input-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea {
  all: unset;
  background-color: var(--text);
  width: min(70%, 700px);
  height: 200px;
  outline: 3px solid var(--bg);
}
button {
  all: unset;
  background-color: var(--bg);
  color: var(--text);
  height: 70px;
  text-align: center;
  width: min(70%, 700px);
  margin-top: 24px;
  font-size: 24px;
  cursor: pointer;
}
.schedule-container {
  display: grid;
  place-content: center;
}
h1 {
  text-align: center;
  padding: 48px 0px;
  width: 70%;
  margin: auto;
}
.schedule {
  display: flex;
  position: relative;
  background-color: var(--text);
  padding: 20px;
  width: fit-content;
  margin-bottom: 48px;
}
.day-container {
  width: 200px;
}
.day {
  text-align: center;
  padding-bottom: 12px;
}
.course {
  background: var(--bg);
  height: 100px;
  display: grid;
  width: 200px;
  place-content: center;
  border: 2px solid var(--border);
}
.course.break {
  background: var(--text);
  color: var(--bg);
  border: 2px solid var(--border);
}
.course.break > .course-timing {
  font-weight: 700;
  font-size: 18px;
  padding-top: 10px;
  text-align: center;
  padding: 0px 20px;
  font-style: italic;
  color: var(--bg);
}
.course-name {
  color: var(--text);
  text-align: center;
}
.course:not(.break) > .course-timing {
  font-weight: 700;
  font-size: 18px;
  padding-top: 10px;
  color: var(--text2);
}